.subscription-modal {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /*above three properties are used to center the main element; */
  width: 90vw;
  max-width: 500px;
  height: 90vw;
  max-height: 500px;
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s;
}

#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
