.subscription-modal {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  /*above three properties are used to center the main element; */
  width: 90vw;
  max-width: 500px;
  height: 120vw;
  max-height: 500px;
}

.subscribe-text{
  /* font-size: 25px; */
  font-size: clamp(25px, 2.65vw, 40px);
}

.yes-button {
  font-size: clamp(15px, 1.2vw, 18px);
}

#show {
  visibility: visible;
  animation: fadeIn 0.5s;
}

#hide {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

