
.trending-section {
  width: min(24vw, 316px);
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  display: none;
  /* width: 10px; */
  /* height: 10px; */
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
}


@media (max-width: 920px) {
  .trending-section {
    width: 85vw;
  }
}
