@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html {
  scroll-behavior:smooth;
}


/* styling when sidebar gets open, this class is uded in navbar, footer and post componenets */
.side-bar-open {
  opacity: 0.2;
}


